@use "./globalColor" as *;

.software_skills_main_div {
  width: 100%;
}

.dev_icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software_skill_inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software_skill_inline > i {
  color: $subTitle;
}

.software_skill_inline > i:hover {
  color: $skillsColor;
}

.software_skill_inline > p {
  color: $subTitle;
  font-size: 10px;
}

.software_skill_inline > i:hover ~ p {
  color: $skillsColor;
}
