@import "../../_globalColor";

.footer_text {
  text-align: center;
  color: $subTitle !important;
}

.dark_mode {
  color: $textColorDark !important;
}

.footer_div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
